# version: '3.4'

# services:
#   blogsite-api:
#     build : .
#     environment:
#       - ConnectionStrings__DefaultConnection=User ID=mehmetsahin;Password=password123;Server=localhost\\SQLEXPRESS;Port=1433;Database=BlogSiteDB;Trusted_Connection=True;Encrypt=false;
#     ports:
#       - "8080:80"
#     depends_on:
#       - "sql-server-db"


#   sql-server-db:
#     image: mcr.microsoft.com/mssql/server:2019-latest
#     container_name: sql-server-db
#     ports:
#       - "1433:1433"
#     environment:
#       ACCEPT_EULA: "Y"

#-------------------------------------------------------------------------------

version: '3.8'

networks:
  dev:



services:
  blogsite-api:
    build : .
    ports:
      - "8080:80"
    depends_on:
      - sqldata
      - app_redis
    networks:
      - dev

  app_redis:
    container_name: redis
    image: redis
    ports:
      - 1920:6379
    networks:
      - dev

  sqldata:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: mssql  
    ports:
      - 1450:1433
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=mrMehmet123#
    volumes:
      - C:\Users\mehme\OneDrive\Masaüstü\BlogSiteVolumes:/var/opt/mssql/data
    networks:
      - dev






