
version: '3.8'

networks:
  dev:



services:

  blogsite-api:
    build : .
    ports:
      - "8080:80"
    depends_on:
      - sqldata
      - app_redis
    networks:
      - dev
    links:
      - app_redis

  app_redis:
    container_name: redis
    image: redis
    ports:
      - 1920:6379
    networks:
      - dev

  sqldata:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: mssql  
    ports:
      - 1450:1433
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=mrMehmet123#
    volumes:
      - ./BlogSiteVolume:/var/opt/mssql/data
    networks:
      - dev






