
version: '3.8'

networks:
  dev:
  elastic:
    driver: bridge


services:

  # blogsite-api:
  #   build : .
  #   ports:
  #     - "8080:80"
  #   depends_on:
  #     - sqldata
  #     - app_redis
  #     - elasticsearch
  #     - kibana
  #   networks:
  #     - dev
  #   links:
  #     - app_redis

  # blogsite-caching-console-app:
  #   build:
  #     context: .
  #     dockerfile: Services/Caching/Dockerfile

  app_redis:
    container_name: redis
    image: redis
    ports:
      - 1920:6379
    networks:
      - dev

  sqldata:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql  
    ports:
      - 1450:1433
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=mrMehmet123#
    volumes:
      - ./BlogSiteVolume:/var/opt/mssql/data
    networks:
      - dev

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.1
    container_name: elasticsearch
    environment:
      - xpack.monitoring.enabled=true
      - xpack.watcher.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    volumes:
      - ./BlogSiteLogVolume:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - elastic


  kibana:
    image: docker.elastic.co/kibana/kibana:7.16.1
    container_name: kibana
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_URL=http://localhost:9200
    networks:
      - elastic

  rabbitmq: 
    image: rabbitmq:3-management
    hostname: "rabbitmq"
    ports:
    - "5672:5672"
    - "15672:15672"












